VITE_CONTRACT_ADDRESS=CD63ZVOYZGMNOVTCKMOSEL2Z6XTABE65DPFSK6RKXUBZEZEVXZ63OPG6
VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_URL=https://soroban-testnet.stellar.org
VITE_BROKER_ADDRESS=GCWG2ZIDPA2IQHXC23DV5RVZN2DGLRCWJ5JIZUUQ6UYT3RNPXTVN5E4O
