VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_URL=https://soroban-testnet.stellar.org
VITE_CONTRACT_ADDRESS=CBIER3WKTHQDBRRFQN6XPN76Q7GNUAFMX3YLJMK3X7BZ44EDNSRQCFX5
VITE_BROKER_ADDRESS=YOUR_APPROVED_BROKER_G_ADDRESS
