VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_URL=https://soroban-testnet.stellar.org
VITE_CONTRACT_ADDRESS=CBOLG3UAH6JRTZ45CHKGTUMNUKZUFK67XDBZ4FCC7O4WXIOG4YYMQG4J
VITE_DOCUMENT_VERIFIER_ADDRESS=CB3BDB54S7RDYO5L4XZOM4QSRRFB37GNCDPT5EB3WEXSFYZ3UOZG7YJU
VITE_BROKER_ADDRESS=YOUR_APPROVED_BROKER_G_ADDRESS
